
@mixin hover {
  &:not([disabled]):hover{
    @content
  }
}

.Button-Container{
width: 200px;
height: 70px;
margin: 50px auto;
display: flex;
align-items: center;
justify-content: center;
.btn{
  appearance: none;//??
  font: inherit;
	padding: 0.5rem 1.5rem;
	cursor: pointer;
	border-radius: 4px;
	background-color: var(--bg-color);
	color: white;
	border: 1px solid var(--bg-color);
  margin: 0 1rem;
  @include hover{
    transform: scale(1.1);
  }
  &:disabled{
    opacity: 20%;
  }
  &.alt{
    background-color: transparent;
	  color: var(--bg-color);
  }
}

}